@model LexiconLMS.ViewModels.ModuleDetailsViewModel

<fieldset class="fieldset">
    <legend>Navigation</legend>
    <ul>
        <li>
            Course:
            <a class="bread-crumb-link" asp-action="Details" asp-controller="Course" asp-route-id="@(Model.CourseId)">@(Model.CourseName)</a>
            <span>
                @Html.DisplayFor(a => a.ParentStartDate) -
                @Html.DisplayFor(a => a.ParentEndDate)
            </span>
        </li>
    </ul>
</fieldset>

