@model TeacherPageViewModel
@{
    ViewData["Title"] = "Teacher page";
}

<h1>Teacher's Page</h1>
<h4>Ongoing Courses</h4>
<ul class="list-group">
    @foreach (var item in Model.Courses)
    {
        <li class="list-group-item">
            <a asp-controller="Course" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
        </li>
    }
</ul>


<div class="form-group">
    <a asp-controller="Course" asp-action="Index" class="btn btn-primary">Other Courses</a>
    <a asp-controller="Course" asp-action="Create" class="btn btn-primary">Create Course</a>
</div>

