/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #212529;
    color:white !important;
}

.jumbotron {
    padding: 2rem 2rem;
}

.img-course {
    width: 150px;
    height: 50px;
}

.course-avatars {
    height: 300px;
    overflow: auto;
}

    .course-avatars .card {
        margin: 1rem;
        max-width: 200px;
        min-width: 200px;
    }

    .course-avatars img {
        width: 100px;
        height: 100px;
        border-radius:50%;
        margin:20px auto;

    }

.card {
    box-shadow: 5px 5px #e4e4e4;
}
    .card-body{
        text-align:center;
    }
.bgcolor {
    background-color: rgba(181, 189, 197, 0.5);
    
}

.hide{
    display:none;
}
.newcolor{
    background-color:green;
}

.licolor:nth-child(odd) {
    background-color: #eaeaea;
}

.btn-purple {
    background-color: #6e3694;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .btn-purple:hover {
        background-color: #9162e4;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
    }

.btn-green {
    background-color: #46bb4e;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .btn-green:hover {
        background-color: #368c3c;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
    }

.btn-border-green {
    border-color: rgb(47, 212, 132);
    color: #6e3694;
}

.btn-border-green:hover {
    background-color: rgb(47, 212, 132);
    color:white;
}


.btn-red {
    background-color: #d32f2f;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .btn-red:hover {
        background-color: #f05545;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
    }

.btn-orange {
    /*background-color: #f9a825;*/
    background-color: #f57920;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .btn-orange:hover {
        /*background-color: #fbc02d;*/
        background-color: #ff9800;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
    }

.btn-grey {
    background-color: #a09e9e;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .btn-grey:hover {
        background-color: #5d5d5d;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
    }


.tablestyle {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    .tablestyle td, .tablestyle th {
        border: 1px solid #ddd;
        padding: 8px;
        
    }

    .tablestyle tr:nth-child(even) {
        background-color: #f2f2f2;
        
    }

    .tablestyle tr:hover {
        background-color: #ddd;
      
    }

    .tablestyle th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        /*background-color: #4CAF50;*/
        background-color: #46bb4e;
        color: white;
    }

.jumbotron {
    background-color: transparent !important;
}

a:hover{
    text-decoration:none;
}
